*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 400px;
    height: 400px;
    background-color: purple;
    border-radius: 10px;
}

.red {
    background: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: pink;
}
.black {
    background-color: black;
}

.white{
    background-color: white;
}

.grey{
 background-color: grey;
}

.green{
    background-color: green;
}